/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


img {
    max-width: 100%;
}

/* GENERAL */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-header {
    max-width: 1300px;
    margin: 0 auto;
}

.my-row-top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-col-25 {
    width: 25%;
}

.my-col-50 {
    width: 50%;
}

.my-col-65 {
    width: 65%;
}

.my-col-35 {
    width: 35%;
}

.my-col-70 {
    width: 70%;
}

.my-col-30 {
    width: 30%;
}

.text-align-right {
    text-align: right;
}

.buttons-page {
    border-radius: 30px;
    padding: 15px 15px 15px;
    background-color: white;
    border: none;
}

/* TEXT STYLING */

h1 {
    margin-bottom: 40px;
    font-size: 2.7em;
}

p {
    line-height: 30px;
    font-size: 1.2em;
}


/* HEADER */


header .header-top {
    height: 60px;
    padding: 20px;
    background-color: #255EE9;
}


header .header-top nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header .header-top nav ul > li > a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.10rem;
}

.header-bottom {
    max-width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-bottom .jumbo {
    text-align: center;
}

.container-header .my-col-25 .buttons-page > a {
    text-decoration: none;
    color: black;
}


/* Header buttons */

.jumbo .buttons-page {
    margin: 20px 10px;
}

.jumbo button > a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.jumbo button:last-child {
    background-color: #23272A;
}

.jumbo button:last-child > a {
    color: white;
}


/* MAIN */

main > section {
    padding: 40px 0;
}

main > section:nth-child(even) {
    background-color: #F5F5F5;
}

.box-green {
    text-align: center;
}

.box-green > div > h1:last-child {
    font-size: 2rem;
}

.box-green button {
    background-color: #7289DA;
}

.box-green button > a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}


/* FOOTER */

footer {
    background-color: #23272A;
}

footer .container {
    margin-top: 30px;
}

.footer-top h1 {
    color:#7289DA;
    font-size: 2rem;
}

.lingua img {
    max-width: 25px;
}

.lingua {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: -30px;
    margin-bottom: 10px;
}

.lingua > p {
    font-size: 1rem;
}

.icons {
    font-size: 25px;
    color: white;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.my-col-25 ul li:first-child {
    color: #7289DA;
}

.my-col-25 li {
    padding: 10px 0;
    list-style-type: none;
}


footer .footer-top .my-col-25 nav ul > li > a {
    text-decoration: none;
    color: white;
}

footer .footer-top {
    padding: 20px 0;

}

footer .footer-bottom {
    padding-top: 20px;
}

footer hr {
    border-color: #7289DA;
}


footer .last-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -30px;
    padding-bottom: 30px;
}

.last-container button > a {
    color: white;
    text-decoration: none;
}

.last-container button {
    background-color: #7289DA;
}


