/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


img {
    max-width: 100%;
}

/* GENERAL */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-header {
    max-width: 1300px;
    margin: 0 auto;
}

.my-row-top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.my-col-25 {
    width: 25%;
}

.my-col-50 {
    width: 50%;
}

.my-col-60 {
    width: 60%;
}

.my-col-40 {
    width: 40%;
}

.my-col-70 {
    width: 70%;
}

.my-col-30 {
    width: 30%;
}

.text-align-right {
    text-align: right;
}

.buttons-page {
    border-radius: 30px;
    padding: 15px 15px 15px;
    background-color: white;
    border: none;
    font-weight: bold;
}



/* HEADER */


header .header-top {
    height: 60px;
    padding: 20px;
    background-color: #255EE9;
}


header .header-top nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header .header-top nav ul > li > a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.10rem;
}

.header-bottom {
    max-width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-bottom .jumbo {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.container-header .my-col-25 .buttons-page > a {
    text-decoration: none;
    color: black;
}

/* Header text */

.jumbo h1 {
    margin-bottom: 40px;
}

.jumbo p {
    font-size: 22px;
}

.jumbo p:nth-of-type(2) {
    padding-top: 10px;
}

.jumbo p:nth-of-type(3) {
    padding-top: 10px;
}

/* Header buttons */

.jumbo .buttons-page {
    margin: 20px 10px;
}

.jumbo button > a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.jumbo button:last-child {
    background-color: #23272A;
}

.jumbo button:last-child > a {
    color: white;
}


/* MAIN */

main > section {
    padding: 40px 0;
}

main > section:nth-child(even) {
    background-color: lightgray;
}

/* FOOTER */

footer {
    background-color: #23272A;
}

footer .footer-top {
    padding: 20px 0;
}

footer .footer-bottom {
    padding-top: 20px;
}

footer hr {
    border-color: white;
}

footer .last-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color:#7FFFD4
}

footer .last-container > * {
    background-color: pink;
    border: 2px dashed black;
    padding: 10px;
}

/* DEBUG */


/* .debug .header-bottom .jumbo {
    background-color: #EE82EE;
    border: 2px dashed black;
    min-height: 300px;
} */

.debug main section .my-row .my-col-60 {
    background-color: #1E90FF;
    border: 2px dashed black;
    min-height: 400px;
}

.debug main section .my-row .my-col-40 {
    background-color: #FFC0CB;
    border: 2px dashed black;
    min-height: 400px;
}

.debug .box-green {
    background-color: green;
    min-height: 700px;
    border: 2px dashed black;
}

.debug footer .footer-top .container > .my-row > * {
    background-color: #F08080;
    min-height: 450px;
    border: 2px dashed black;
}

.debug footer .footer-top .container > .my-row .my-row > * {
    background-color: #20B2AA;
    min-height: 450px;
    border: 2px dashed white;
}


